* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.zahailga {
  width: 800px;
  height: 500px;
  background-color: bisque;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#order {
  display: flex;
  gap: 20px;
}
#detial {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}
#words {
  border: 5px;
  background-color: pink;
}
#order :hover {
  filter: grayscale(1);
}
#order :hover .words {
  filter: grayscale(0);
}
